<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
<nav>
    <a href="/index/" class="front">Index</a>
</nav>
<article>
    <h1>{{.Title}}</h1>

    <p>[<a href="/edit/{{.Title}}">edit</a>]</p>

    <div>{{printf "%s" .Body}}</div>
</article>
</body>
</html>